name: Test

on:
  push:
    branches: [ main, develop, 'feature/**' ]
  pull_request:
    branches: [ main, develop ]

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          working-directory: chaincodes

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chaincode: [as-chaincode, tgs-chaincode, isv-chaincode]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Download dependencies
        run: |
          cd chaincodes/${{ matrix.chaincode }}
          go mod download

      - name: Run unit tests
        run: |
          cd chaincodes/${{ matrix.chaincode }}
          go test -v -race -coverprofile=coverage.out -covermode=atomic ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: chaincodes/${{ matrix.chaincode }}/coverage.out
          flags: ${{ matrix.chaincode }}

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: [lint, unit-tests]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Install Fabric binaries
        run: |
          curl -sSL https://raw.githubusercontent.com/hyperledger/fabric/main/scripts/install-fabric.sh | bash -s -- binary
          echo "${PWD}/fabric-samples/bin" >> $GITHUB_PATH

      - name: Run integration tests
        run: |
          cd tests
          ./run-tests.sh integration
        timeout-minutes: 30

  security-scan:
    name: Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: './chaincodes/...'

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: 'chaincodes'
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload Trivy results to GitHub Security
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-results.sarif'

  build-chaincodes:
    name: Build Chaincodes
    runs-on: ubuntu-latest
    needs: [unit-tests]
    strategy:
      matrix:
        chaincode: [as-chaincode, tgs-chaincode, isv-chaincode]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Build chaincode
        run: |
          cd chaincodes/${{ matrix.chaincode }}
          go build -v ./...

      - name: Package chaincode
        run: |
          cd chaincodes/${{ matrix.chaincode }}
          tar czf ../../${{ matrix.chaincode }}.tar.gz .

      - name: Upload chaincode package
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.chaincode }}
          path: ${{ matrix.chaincode }}.tar.gz
          retention-days: 7
